
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <table class="table">
    <thead>
      <tr>
        <th >Name</th>
        <!-- <th style="text-align:center !important;padding-left:6%!important ">Patients</th> -->
        <th >Price</th>
        <th >quantity</th>
        <th></th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems let i = index">
        <td>
          
            {{ item.name }}
          
        </td>
        <td>
          <!-- style="width: 110px !important; text-align:center;" -->
          {{ item.price }}
        </td>
         

         <td>
          <button (click)="incrementCount(i,item.quantity)">+</button>
          <input type="text" [(ngModel)]="item.quantity" >
          <button (click)="decrementCount(i,item.quantity)">-</button>
          
         </td>

         <td>
           <button (click)="removeItem(i)">Remove</button>
         </td>
       
        
      </tr>
    </tbody>
  </table>
  <button (click)="doBill()"> Bill</button>

  <p *ngIf="billamt">Your Bill Amount is {{sum}}</p>
  
</div>


